body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333; /* Dark grey background */
  color: #fff; /* White text */
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #222; /* Darker grey sidebar */
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #444; /* Light grey border */
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #444; /* Light grey border */
  border-radius: 5px;
  background-color: #444; /* Light grey background */
}

.input {
  margin-top: 20px;
  display: flex;
}

.input textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444; /* Light grey border */
  background-color: #444; /* Light grey background */
  color: #fff; /* White text */
}

.input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
